.form-class{
    display: grid;
        width: 20%;
}
label{
    padding: 10px;
}
.wrap{
    display: grid
;
    text-align: center;
    vertical-align: middle;
    justify-content: space-around;
}
.butt-style{margin-top: 20px;}