.outer-wrap{
    h3{
        text-align: center;
        color: black;
    }
    .story-list{

        background-color: #dcdcdc;
        text-align: left;
        padding: 37px;
        border-radius: 10px;
        margin: 10px;
    }
    .no-data{
        text-align: center;
    }
    .story-list-wrap{
        display: inline-flex;
    }
}